Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  misc-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -clang-analyzer-optin.performance.Padding,
  -modernize-use-trailing-return-type,
  -modernize-deprecated-headers,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -bugprone-easily-swappable-parameters,
  -misc-non-private-member-variables-in-classes

HeaderFilterRegex: '.*'

FormatStyle: file

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           NULL
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack

