# clangd controls options for the LSP *server*

CompileFlags:
  Add: [

    -DSSIZE_MAX,
    -DLWIP_NO_UNISTD_H=1,
    -Dssize_t=long,
    -D_SSIZE_T_DECLARED,
    -Wno-unknown-warning-option
    -Wall -Wextra -Wpedantic -Werror
  ]

  Remove: [

    -mlong-calls,
    -fno-tree-switch-conversion,
    -mtext-section-literals,
    -mlongcalls,
    -fstrict-volatile-bitfields,
    -free,
    -fipa-pta,
    -march=*,
    -mabi=*,
    -mcpu=*
  ]

Diagnostics:
  Suppress: "pp_including_mainfile_in_preamble"
